anthropic
authlib==1.5.2
ftfy==6.3.1
fuzzysearch
google-cloud-vision==3.11.0
googlemaps
httpx==0.28.1
nest-asyncio
openai
openai-agents
pandas
pillow
pydantic
pymupdf
pypdf
pypdfium2
pytesseract
rapidfuzz
requests
streamlit
streamlit-aggrid
streamlit-image-zoom
tomli